<nav class="navbar navbar-expand-sm fixed-top navbar-custom">
    <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link rounded link2" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded link2" href="/">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded link2" href="/reviews">Reviews</a>
            </li>
            <form>
                <li class="nav-item">
                    <label for="stingo">Search</label>
                    <input type="text" id="stingo" name="stingo"><br><br>
                </li>
            </form>
                <li>
                    <button type="button" id ="stingo">Submit</button>
                </li>
        </ul>
</nav>