<%- include('../partials/header') %>

</head>

<body>
    <%- include('../partials/menu') %>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>REVIEW</h1>
    <!-- Closing tag here -->
    <%- include('../partials/footer') %>